{{extend 'layout.html'}}
<section>
{{if not(request.vars.id_origin) or not(request.vars.id_destination):}} 
	{{include 'plot/choose.html'}}
{{else:}}
	<script>
	$.ajax({
            url: '{{=URL("default", "get_lines.json", vars=request.vars )}}',
            method: 'GET',
            dataType: 'json',
            success: onDataReceived
	});
	$('#loading').show();
	</script>
{{pass}}
{{=content}}

<div class='span2'>
<div class='well' style="padding: 7px 0px;">
<div class="clearfix">
<form class="form-inline">
		<div class="control-group success">
			<label class="control-label" for="inputWarning">Starting station</label>
			<div class="controls"><select class="input-block-level" name="id_origin" id="select_o"><option></option>
			{{for station in stations:}}
				<option {{='selected' if str(station.id) == request.vars.id_origin else ''}} value="{{=station.id}}">{{=station.name}}</option>
			{{pass}}
			</select></div>
		</div>
		<div class="control-group success">
			<label class="control-label" for="inputWarning">Destination station</label>
			<div class="controls"><select class="input-block-level" name="id_destination" id="select_d"><option></option>
			{{for station in stations:}}
				<option {{='selected' if str(station.id) == request.vars.id_destination else ''}} value="{{=station.id}}">{{=station.name}}</option>
			{{pass}}
			</select></div>
		</div>
		<button type="submit" class="btn btn-success pull-right">Update</button>
</form>
</div>
	<ul id='mode' class="nav nav-list">
		<li><label class="checkbox"><input id='all' type="checkbox" checked='checked'>All</label></li>
		<li class='nav-header'>{{=T('Days')}}</li>
		<!--div id="slider-range-min_modes"></div-->
		<!--div class="input-append">
			<input class="span2" id="amount" type="text" value='' style='width: 90px;'>
			<a href='#' onclick="add_line('mode')" class="add-on pointer"><i class='icon-plus'></i></a>
		</div-->
	</ul>

	<!--ul id='lower' class="nav nav-list">
		<li class='nav-header'>Lower Bound</li>
		<div class="input-append">
			<input class="span2" id="amount" type="text" value='' style='width: 90px;'>
			<a href='#' onclick="add_line('lower')" class="add-on pointer"><i class='icon-plus'></i></a>
		</div>

	</ul-->

	<ul id='logs' class="nav nav-list">
		
	</ul>
</div>
</div>

		<p id='loading' class="label label-info span4 offset4 center">Loading...</p>	
		<p id='warning' class="label label-warning span4 offset2 center hide">No matches found</p>
<div class="span10">
<div class='row-fluid'>
<ul class="nav nav-tabs" id="myTab">
<li class="active"><a href="#graph" data-toggle="tab">Graph</a></li>
<li><a href="#maps" data-toggle="tab">Map</a></li>
</ul>
<div id="myTabContent" class="chart tab-content">
	<div id="graph" class="tab-pane fade in active">
		<div id="traffic_chart_h"  style="height:370px"> </div>
	</div>
	
	<div id="maps" class="tab-pane fade">
		{{include 'default/map.html'}}
	</div>
</div>
</div>
</div>
<!--div><div id="traffic_chart_m" style="width:900px;height:300px"> </div-->

<script>    
	var plot;
	var options = { 
		xaxis: { mode: "time", timezone: false, alignTicksWithAxis:true },
		yaxis: { mode: 'time', position: 'left', axisLabel: "{{=T('Travel time')}}", zoomRange: false, panRange: false, },			
		y2axis:{ mode: null},
		series:{ lines: { show: true, fill: true },
				points: { show: true }},
		pan: { interactive: true },
		zoom: { interactive: true},
		tooltip: true,       //false
		tooltipOpts: {
			content:      "%s |  %x |  %y",
			yDateFormat: "%H:%M:%S",
			defaultTheme:  true     //true
		},
		grid: {
			color: "#444444",
			/*	backgroundColor: "#DDDDDD",*/
			backgroundColor: {
				colors: ["#fff", "#e4f4f4"]
			},
			borderColor: "#FFFFFF",
			tickColor: "#CCCCCC",
			//aboveData: false,
			borderWidth: 1,
			clickable: true,
			hoverable: true,
			autoHighlight: true,
			markings: function(axes) {
				var markings = [];
				var xaxis = axes.xaxis;
				for (var x = Math.floor(xaxis.min); x < xaxis.max; x += xaxis.tickSize * 2) {
					markings.push({ xaxis: { from: x, to: x + xaxis.tickSize }, color: "rgba(232, 232, 255, 0.2)" });
				}
				return markings;
			}
		}
	}
	var placeholder_h = $("#traffic_chart_h");

	var datasets, plot, data, range_from, range_to;	
	function onDataReceived_single(json) {
		if ( jQuery.isEmptyObject(json) ) {
			console.log('empty');
		} else {
			console.log('non empty');		
		}
		//console.log(json);
		//for (var attrname in json) { datasets[attrname] = json[attrname]; }
		for (var i in json) {
			datasets[i] = json[i]
			if ($('#' + json[i].id))
				$('#' + json[i].id).parent().remove();
			var str = "<label class='checkbox'><input id='idJS' type='checkbox' checked='checkek'>labelJS</label>".replace(/labelJS/, json[i].label ).replace(/idJS/, json[i].id );
			console.log(	json[i].id );		
			splits = json[i].id.split('_')
			$('#'+splits[0]).append(str).hide().slideDown();
		}
		plotAccordingToChoices();
	}

	function onDataReceived_add(json) {
		datasets = json
		
		plotAccordingToChoices();
	}

	function onDataReceived_m (json) {
		$.plot(placeholder_m, [json.data], { xaxis: { mode: "time", timeZoneOffset: "browser" }});
	}


	$(document).on('click', 'input', function() {
		var key = $(this).attr("id");		
		if (key === 'all') {
			that = $(this)
			$(document).find("input:checked").each(function () {
				if ($(this).attr('id') !== key) {
					$(this).removeAttr('checked');				
				}
			});
			data = [];
		} else {
			if ($("#all").attr('checked') === 'checked'){
				data = [];
			}
			$("#all").removeAttr('checked');

			if ($(this).is (':checked')){
				if (key && datasets[key])
					data.push(datasets[key]);
			} else {
				if (key && datasets[key])
					var index = data.indexOf(datasets[key]);
					data.splice(index, 1);
			}
		}
		plotAccordingToChoices();	
	});
    
	function plotAccordingToChoices() {
		if ( data.length == 0 ) {
			for (var i in datasets) {
				data.push(datasets[i]);
			}
			$("#all").attr('checked', 'checked');
		} 
		$.plot($(placeholder_h), data, options);
	}

   $("#clearSelection").click(function () {
        $.plot.clearSelection(true);
    });

	/*
	function add_line(type) {
		if ( ! $( '#' + type + " #amount" ).val()) return;
		$.ajax({
		    url: '{{=URL("default", "get_lines.json", args=request.args, vars={'type':'typeJS', 'diff_temp':'diff_temp_js'})}}'.replace(/typeJS/, type).replace(/diff_temp_js/,$( '#' + type + " #amount" ).val()),
		    method: 'GET',
		    dataType: 'json',
		    success: onDataReceived_single
		});
	}*/


	/*$.ajax({
            url: '{{=URL("default", "get_lines.json", args=request.args )}}',
            method: 'GET',
            dataType: 'json',
            success: onDataReceived
	});*/
</script>
</section>
