{{extend 'layout.html'}}
<section>
<div class='span2'>
<div class='well' style="padding: 0px 0px;">
	<ul id='mode' class="nav nav-list">
        <li class='nav-header'>Mode</li>
		<!--div id="slider-range-min_modes"></div-->
		<div class="input-append">
			<input class="span2" id="amount" type="text" value='' style='width: 90px;'>
			<a href='#' onclick="add_line('mode')" class="add-on pointer"><i class='icon-plus'></i></a>
		</div>
	</ul>

	<ul id='lower' class="nav nav-list">
		<li class='nav-header'>Lower Bound</li>
		<div class="input-append">
			<input class="span2" id="amount" type="text" value='' style='width: 90px;'>
			<a href='#' onclick="add_line('lower')" class="add-on pointer"><i class='icon-plus'></i></a>
		</div>
	</ul>

	<ul id='trendstart' class="nav nav-list">
		<li class='nav-header'>Trend start</li>
		<div class="input-append">
			<input class="span2" id="amount" type="text" value='' style='width: 90px;'>
			<a href='#' onclick="add_line('trendstart')" class="add-on pointer"><i class='icon-plus'></i></a>
		</div>
	</ul>

	<ul id='trendend' class="nav nav-list">
		<li class='nav-header'>Trend end</li>
		<div class="input-append">
			<input class="span2" id="amount" type="text" value='' style='width: 90px;'>
			<a href='#' onclick="add_line('trendend')" class="add-on pointer"><i class='icon-plus'></i></a>
		</div>
		<label class="checkbox"><input id='all' type="checkbox" checked='checked'>All</label>
	</ul>
	<ul id='logs' class="nav nav-list">
		
	</ul>
</div>
</div>

<div class="span10">
<div class='row-fluid'>
<ul class="nav nav-tabs" id="myTab">
<li class="active"><a href="#graph" data-toggle="tab">Graph</a></li>
<li><a href="#maps" data-toggle="tab">Map</a></li>
</ul>
<div id="myTabContent" class="tab-content">
	<div id="graph" class="tab-pane fade in active">
	<div class="chart">
	<div class='clearfix'>
		<!--input type="submit" id='clearSelection' value="Clear zoom" class=''-->
		<div class='span4'>Total matches<span class='label label-info'>{{=info['n']}}</span></div>
		<div class='span4'>Devices detected by start<span class='label label-info'>{{=info['n_start']}}</span></div>
		<div class='span4'>Devices detected by end<span class='label label-info'>{{=info['n_end']}}</span></div>
		<!--a href='{{=URL('traffic', 'default', 'read', vars={'id':request.args(0)})}}'>Start trend</a>
		<a href='{{=URL('traffic', 'default', 'read', vars={'id':request.args(1)})}}'>End trend</a-->
		<p id='loading' class="label label-info span4 offset4 center">Loading...</p>	
		</div>
		<div id="traffic_chart_h"  style="height:370px"> </div>
	</div></div>
	
<div id="maps" class="tab-pane fade">
	{{include 'default/map.html'}}
</div>
	

</div>
</div>

<!--div><div id="traffic_chart_m" style="width:900px;height:300px"> </div-->

<script>    
	var plot;
	var options = flot_global_option;
	var placeholder_h = $("#traffic_chart_h");

	var datasets, plot, data, range_from, range_to;	
	function onDataReceived_single(json) {
		//console.log(json);
		//for (var attrname in json) { datasets[attrname] = json[attrname]; }
		for (var i in json) {
			datasets[i] = json[i]
			if ($('#' + json[i].id))
				$('#' + json[i].id).parent().remove();
			var str = "<label class='checkbox'><input id='idJS' type='checkbox' checked='checkek'>labelJS</label>".replace(/labelJS/, json[i].label ).replace(/idJS/, json[i].id );
			//console.log(	json[i].id );		
			splits = json[i].id.split('_')
			$('#'+splits[0]).append(str).hide().slideDown();
		}
		plotAccordingToChoices();
	}


	/*function onDataReceived_add(json) {
		datasets = json
		plotAccordingToChoices();
	}*/


	$(document).on('click', '#mode a, #lower a, #trendend a, #trendstart a, #logs a', function() {
		var key = $(this).attr("id");	
		$(this).toggleClass('muted');		
		if ($(this).hasClass('muted')){
			$('#' + key + ' .legend_box_color').css('background-color', "rgb(204,204,204)");
			var index = jQuery.inArray(datasets[key], data);
			data.splice(index, 1);
		} else {
			if (key && datasets[key])
				data.push(datasets[key]);
		}

		plotAccordingToChoices();	
	});
	/*$(document).on('click', 'input', function() {
		var key = $(this).attr("id");		
		if (key === 'all') {
			that = $(this)
			$(document).find("input:checked").each(function () {
				if ($(this) !== $(that)) {
					$(this).removeAttr('checked');				
				}
			});
			data = [];
		} else {
			if ($("#all").attr('checked') === 'checked'){
				data = []						
			}
			$("#all").removeAttr('checked');
			if ($(this).attr('checked') === 'checked'){
				if (key && datasets[key])
					data.push(datasets[key]);
			} else {
				if (key && datasets[key])
					var index = data.indexOf(datasets[key]);
					data.splice(index, 1);
			}
		}
		plotAccordingToChoices();	
	}); */


   /* 
	function plotAccordingToChoices() {
		if ( data.length == 0 ) {
			for (var i in datasets) {
				data.push(datasets[i]);
			}
			$("#all").attr('checked', 'checked');
		} 
		$.plot($(placeholder_h), data, options);
	}

    $(placeholder_h).bind("plotclick", function (event, pos, item) {
	//console.log('plotclick'); 
	//console.log(item)
	//console.log(pos)
        if (item) {
       		$.plot.highlight(item.series, item.datapoint);
        }
    });
*/
   $("#clearSelection").click(function () {
        $.plot.clearSelection(true);
    });

	function add_line(type) {
		
	$.ajax({
            url: '{{=URL("default", "get_line.json", args=request.args, vars={'type':'typeJS', 'diff_temp':'diff_temp_js'})}}'.replace(/typeJS/, type).replace(/diff_temp_js/,$( '#' + type + " #amount" ).val()),
            method: 'GET',
            dataType: 'json',
            success: onDataReceived_single
	});
		
	}


	$.ajax({
            url: '{{=URL("default", "get_diff.json", vars=request.get_vars, args=request.args )}}',
            method: 'GET',
            dataType: 'json',
            success: onDataReceived
	});
</script>
</section>
