<div id="map_canvas" style="width: 100%; height: 300px"></div>
<div id="footer">© <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors</div>
<script type="text/javascript">
	var map = new OpenLayers.Map("map_canvas", {
		projection: "EPSG:900913",
	});
	var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
	var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection

	// layers
	var layer_osm = new OpenLayers.Layer.OSM();
	var layer_markers = new OpenLayers.Layer.Markers( "Markers" );
	var bounds = new OpenLayers.Bounds();
	var marker;
	{{for station in db(db.station).select(cache=(cache.ram, 86400)):}}
		position = new OpenLayers.LonLat({{=station.lgt}}, {{=station.lat}}).transform( fromProjection, toProjection);
		marker = new OpenLayers.Marker(position)
		bounds.extend(position);
		layer_markers.addMarker(marker);
		//here add mouseover event
		marker.events.register('mouseover', marker, function(evt) {
    		popup = new OpenLayers.Popup.FramedCloud("Popup",
        		new OpenLayers.LonLat({{=station.lgt}}, {{=station.lat}}).transform( fromProjection, toProjection),
        		null,
        		'<div>{{=station.name}}</div>',
        		null,
        		false);
    		map.addPopup(popup);
		});
		//here add mouseout event
		marker.events.register('mouseout', marker, function(evt) {popup.hide();});
	{{pass}}

	map.addLayer(layer_osm);
	map.addLayer(layer_markers);
	var zoom = this.map.getZoomForExtent(bounds);
	map.setCenter(bounds.getCenterLonLat(), zoom);
</script>
