{{extend 'layout.html'}}
<div class="clearfix">
<form class="form-inline" id='d3_station_form'>
	<div class="control-group info">
		<label class="control-label" for="inputWarning">Day of the week</label>
	    <div class="controls">
        {{for pos, day in enumerate(['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']):}}
        <label class="checkbox inline">
            <input name="dow" checked='checked' type="checkbox" id="weekday_{{=day}}" value='{{=pos}}'>{{=day}}
        </label>
        {{pass}}
        <div id="reportrange" class="btn pull-right">
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
            <span></span> <b class="caret"></b>
        </div>
    </div></div>
	<div class="control-group success">
		<label class="control-label" for="inputWarning">Starting station</label>
		<div class="controls"><select class="input-block-level" name="station_id" id="select_o"><option></option>
		{{for station in stations:}}
			<option {{='selected' if str(station.id) == request.vars.station_id else ''}} value="{{=station.id}}">{{=station.name}}</option>
		{{pass}}
		</select></div>
	</div>
	<a id='' type="submit" class="update btn btn-success pull-right">Update</a>
</form>
</div>
<section class="span12">
<div class=''>

<div id="flow_chart">

</div>
</div>
</section>
<script>
    var startDate, endDate;
    uri = "{{=URL('flow', 'get_data.json')}}";
    function create_d3_chart(station_id) {
        $("#flow_chart").empty();
        var margin = {top: 1, right: 1, bottom: 6, left: 1},
        width = 960 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

        var formatNumber = d3.format(",.0f"),
        format = function(d) { return formatNumber(d) + " matches"; },
        color = d3.scale.category20();

        var svg = d3.select("#flow_chart").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        var sankey = d3.sankey()
        .nodeWidth(15)
        .nodePadding(10)
        .size([width, height]);

        var path = sankey.link();


        var url = uri + '?';
        var params = {}
        if ((typeof startDate !== "undefined") && (typeof endDate !== "undefined")) {
	        params = {
                from: startDate.valueOf(),
                to: endDate.valueOf(),
	        };
	        url = url + $.param(params) + "&";
	    }
        if (station_id) {
            url = url + station_id
        }

        d3.json(url, function(energy) {
            sankey
              .nodes(energy.nodes)
              .links(energy.links)
              .layout(32);

            var link = svg.append("g").selectAll(".link")
              .data(energy.links)
            .enter().append("path")
              .attr("class", "link")
              .attr("d", path)
              .style("stroke-width", function(d) { return Math.max(1, d.dy); })
              .sort(function(a, b) { return b.dy - a.dy; });

            link.append("title")
              .text(function(d) { return d.source.name + " → " + d.target.name + "\n" + format(d.value); });

            var node = svg.append("g").selectAll(".node")
              .data(energy.nodes)
            .enter().append("g")
              .attr("class", "node")
              .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })
            .call(d3.behavior.drag()
              .origin(function(d) { return d; })
              .on("dragstart", function() { this.parentNode.appendChild(this); })
              .on("drag", dragmove));

            node.append("rect")
              .attr("height", function(d) { return d.dy; })
              .attr("width", sankey.nodeWidth())
              .style("fill", function(d) { return d.color = color(d.name.replace(/ .*/, "")); })
              .style("stroke", function(d) { return d3.rgb(d.color).darker(2); })
            .append("title")
              .text(function(d) { return d.name + "\n" + format(d.value); });

            node.append("text")
              .attr("x", -6)
              .attr("y", function(d) { return d.dy / 2; })
              .attr("dy", ".35em")
              .attr("text-anchor", "end")
              .attr("transform", null)
              .text(function(d) { return d.name; })
            .filter(function(d) { return d.x < width / 2; })
              .attr("x", 6 + sankey.nodeWidth())
              .attr("text-anchor", "start");

            function dragmove(d) {
                d3.select(this).attr("transform", "translate(" + d.x + "," + (d.y = Math.max(0, Math.min(height - d.dy, d3.event.y))) + ")");
                sankey.relayout();
                link.attr("d", path);
            }
        });
    }
    $(document).ready(function() {
        create_d3_chart();
    });
    $("#d3_station_form").on('click', '.update', function() {
        create_d3_chart($( "#d3_station_form" ).serialize());
    });
    var startDate = moment().subtract('days', 7);
    var endDate = moment();
    var datapickler_option = {
        startDate: startDate,
        endDate: endDate,
        minDate: '01/01/2012',
        maxDate: '12/31/2015',
        dateLimit: { months: 60 },
        showDropdowns: true,
        showWeekNumbers: true,
        timePicker: true,
        timePickerIncrement: 1,
        timePicker12Hour: true,
        ranges: {
            'Last 2 hours': [moment().subtract('hours', 2), moment().add('days', 1)],
            'Today': [moment({hour: 00, minute: 00}), moment()],
            'Yesterday': [moment({hour: 00, minute: 00}).subtract('days', 1), moment({hour: 23, minute: 59}).subtract('days', 1)],
            'Last 7 Days': [moment().subtract('days', 6), moment().add('days', 1)],
            'Last 30 Days': [moment().subtract('days', 29), moment().add('days', 1)],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
        },
        opens: 'left',
        buttonClasses: ['btn btn-default'],
        applyClass: 'btn-small btn-primary',
        cancelClass: 'btn-small',
        format: 'MM/DD/YYYY',
        separator: ' to ',
    };
    var date_set = function(start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        startDate = start;
        endDate = end;
    }
    pickler = $('#reportrange').daterangepicker(datapickler_option, date_set);
    $('#reportrange span').html(moment().subtract('days', 7).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
</script>
