{{extend 'layout.html'}}
<section class="span12">
<span id='loading' class="alert alert-error span4 offset4 center">Loading...</span>
	<ul class="nav nav-tabs " id="myTab">
	<li class="active"><a href="#vehiclesDetected" data-toggle="tab">{{=T('Vehicles detected')}}</a></li>
	<li><a href="#compare" data-toggle="tab">{{=T('Compare')}}</a></li>
	<li><a href="#maps" data-toggle="tab">Map</a></li>
	<!--li><a href="#stations" data-toggle="tab">{{#='Stations'}}</a></li-->
	<li><a href="#stats" data-toggle="tab">{{='Stats'}}</a></li>
	<li><a href="#originDestination" data-toggle="tab">{{='Origin destination'}}</a></li>
	</ul>

<div id="myTabContent" class="tab-content">
<section id='vehiclesDetected' class="tab-pane fade in active row-fluid">
	<div class='span2'>
	<div class='well' style="padding: 7px 0px;">
		<ul id='stations' class="nav nav-list">
			<li class="nav-header">Monitoring stations</li>
			{{for station in stations:}}
				<li><a id='station_{{=station['id']}}' title="{{='%s %s' % (T('Station'), station['name']) }}" href="#" class="muted" data-content="{{=get_static_img( station['lat'], station['lgt'])}}">
					<span class="legend_box_color"> </span>
					{{=station['name']}}
				</a></li>	
			{{pass}}
		</ul>
	</div>
	</div>
	<div class="span10">
		<div class="chart" style="height:370px">
			<!--a id="print" title="{{=T('Save image')}}" href="#" class="btn pull-right"><i class="icon-print"></i></a-->
			<form class="pull-right">
				<label class="radio inline"><input name="graph" type='radio' value="bars" checked='checked' class='graph' id="bars_1"/>bars
				</label>
				<label class="radio inline"><input name="graph" type='radio' value="lines" class='graph' id="lines_6"/>lines
				</label>
			</form>
			<ul class="nav nav-pills"> 
			<li class="{{='active' if not(request.vars.interval) or request.vars.interval not in [str(7),str(24)] else ''}}"><a class='group' href="#" id="group_1">group by 1hour</a></li>
			<li class="{{='active' if request.vars.interval == str(6) else ''}}"><a href="#" class='group' id="group_6">group by 6hour</a></li>
			<li class="{{='active' if request.vars.interval == str(24) else ''}}"><a href="#" class='group' id="group_24">group by  1day</a></li>
			</ul>
			<div id="chart_vehicles_detected" style="height:100%" ></div>
		</div>
	</div>
</section>
<div id="compare" class="row-fluid tab-pane fade">
	{{include 'plot/tab_compare.html'}}
</div>
<section id="maps" class="tab-pane fade row-fluid">
	{{include 'default/map.html'}}
</section>
<!--section id="stations" class="tab-pane fade row-fluid">
	{{#include 'plot/tab_stations.html'}}
</section-->
<section id="stats" class="tab-pane fade row-fluid">
	{{include 'plot/tab_stats.html'}}
</section>
<section id="originDestination" class="tab-pane fade row-fluid">
	{{include 'plot/tab_origin_destination.html'}}
</section>
</div>


</div>
<script> 
	$('a[data-toggle="tab"]').on('shown', function (e) {
		tab = $(e.target).attr('href');		
		if (tab === '#compare') {
			plot_compare.plotAccordingToChoices();
		} else if (tab === '#originDestination') {
			plot_origin_destination.plotAccordingToChoices();		
		} else {
			plot_vehicles_detected.plotAccordingToChoices();
		}
	  e.relatedTarget // previous tab
	});


   
	//$('#loading').hide();
	/*var d = new Date();
	m_seconds = d.getTime();
	console.log(m_seconds);
	var min_seconds = m_seconds-1000*60*60*24*7;
	console.log(m_seconds, min_seconds);*/
	var interval = {{=request.vars.interval if request.vars.interval and request.vars.interval in [6,24] else 1}}; 	// Default 7 days	
	timezoneJS.timezone.zoneFileBasePath = '{{=URL('vtraffic', 'static/js', 'tz')}}';
	var options_vehicles_detected = { 
		xaxis: { 
			mode: "time", timezone: false, alignTicksWithAxis:true,
			dayNames: ['{{=T('Sun')}}', '{{=T('Mon')}}', '{{=T('Tue')}}', '{{=T('Wen')}}', '{{=T('Thu')}}', '{{=T('Fri')}}', '{{=T('Sat')}}'] 
		},
		yaxis: { axisLabel: "{{=T('Vehicles detected')}}", zoomRange: false, panRange: false,},
		series:{ lines: { show: false, fill: false },
				 points: { show: false },
				 bars: {show: true},
				},
		addDynamically: true,
	}
	var plot_vehicles_detected = new lplot('chart_vehicles_detected', options_vehicles_detected, true);
	//var options = plot_compare.default_options;

	//var placeholder = $("#chart_vehicles_detected");
	//var datasets = {};	// All data available
	//var data = [];		// All data shown
	

	/*function onDataReceived (json) {
		var n = Object.keys(datasets).length;
		for (var k in json) {
			//json[k]['label'] = $('#'+k).attr('title') ;
			data.push(json[k]);
			json[k]['color'] = n;
			n = n + 1;
		}
		$.extend(datasets, json);
		interval = $("li.active a[class='group']").attr('id').split('_')[1];
		options_vehicles_detected.series.bars.barWidth = 60*60*1000*interval;
		plotAccordingToChoices(placeholder, options_vehicles_detected);
	}*/

	$("#vehiclesDetected").on('click', '#stations a', function() {
		var key = $(this).attr("id");	
		$(this).toggleClass('muted');
		var current = plot_vehicles_detected.getObj(key);
		if (typeof current === "undefined") {
			if ( ! $(this).hasClass('muted')) { 
				return get_station_history(key.split('_')[1])
			} else { 
				// skip already coming call			
				$(this).toggleClass('muted');
			}
		} else {
			var index = jQuery.inArray(current, plot_vehicles_detected.data);
			if ( index > -1 ) {
				$('#' + key + ' .legend_box_color').css('background-color', "rgb(204,204,204)");
				plot_vehicles_detected.data.splice(index, 1);
			} else {
				plot_vehicles_detected.data.push(current);
			}
		}
		plot_vehicles_detected.plotAccordingToChoices();	
	});

	$(document).on('click', "input[name='graph']", function() {
		serie = $(this).attr('value');
		if (serie == 'bars') {
			plot_vehicles_detected.options.series.lines.show = false;
			plot_vehicles_detected.options.series.bars.show = true;
		} else {
			plot_vehicles_detected.options.series.lines.show = true;
			plot_vehicles_detected.options.series.bars.show = false;
		}
		plot_vehicles_detected.plotAccordingToChoices();	
	});

	/*function plotAccordingToChoices() {
		if (data.length>1) {
			options.crosshair.mode = 'x';
		} else {
			options.crosshair.mode = null;
		}
		$('#loading').hide(); $('body').css("cursor", "auto");
		var plot = $.plot($(placeholder), data, options);
		// get color assigned to the data series 
		var dataPlotted = plot.getData();
		for (var d in dataPlotted) {
			$('#station_' + dataPlotted[d].station_id).children('span.legend_box_color').css('background-color', dataPlotted[d].color);
		}
	}*/

	$(document).on('click', "li a[class='group']", function() {
		$(this).parent().siblings().removeClass('active');
		$(this).parent().addClass('active');
		var next_interval = $(this).attr('id').split('_')[1];
		if (next_interval === interval) return;
		interval = next_interval;
		plot_vehicles_detected.datasets = {};	//errase different interval data TODO fix it
		keys=[]
		for (key in plot_vehicles_detected.data) {
/*			console.log(data[key]['station_id']);
			keys.push (data[key]['station_id']);*/
			get_station_history(plot_vehicles_detected.data[key]['station_id']);
		}
		plot_vehicles_detected.data = [];
		for (key in keys) {
			console.log(key);
			get_station_history(key);	
		}
	});

	$(document).on('click', '#print', function() {
		canvas = $(plot_compare.placeholder).children('canvas')[0];
		dataUrl = canvas.toDataURL();
		//window.open(dataUrl, "toDataURL() image", "width=1000, height=600");
		rawImageData = dataUrl.replace("image/png", "image/octet-stream")
        document.location.href = rawImageData;
	});

	function get_station_history(station_id) {
		var url = '{{=URL("plot", "get_history.json", args=['station_idJS'], vars={'interval':'intervalJs'} )}}'.replace(/station_idJS/,station_id).replace(/intervalJs/, interval);
		plot_vehicles_detected.loadData(url);

	}
	// Starting call
	$("#station_" + {{=station_id}}).click();

	// Tab select
	$(function(){
		var hash = window.location.hash;
		hash && $('ul.nav a[href="' + hash + '"]').tab('show');

		$('.nav-tabs a').click(function (e) {
			$(this).tab('show');
			window.location.hash = this.hash;
		});
	});


</script>
</section>
