<div class="well">
    In this frame are shown average elapsed times for the current traffic situation. When the latter is getting better with respect to previous samplings data are highlighted in <span class="label label-success">green</span>, <span class="label label-warning">orange</span> otherwise.
</div>

<div class="row">
<div class="span12">
<ul class="thumbnails">
{{for m in modes:}}
    <li class="span3">
    <div class='thumbnail' style="height: 100px;">
        <h4><i class="icon icon-map-marker" style="margin-top: 1px; margin-right: 8px;"></i>{{=m['station']['name']}}</h4><span title='{{=m['mode_ts']}}' class="label label-{{='success' if m['mode'] > m['mode_prev'] else 'warning'}}">{{=m['string']}}</span>
        
    </div>    
    </li>
{{pass}}
</ul>
</div>

<!--div id='map' class="chart"></div-->
<script>
    map_stations = L.map('map').setView([51.505, -0.09], 10);
    //L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    //    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    //}).addTo(map_stations);
 
    $(document).ready(function() {
        $.getJSON('{{=URL('plot', 'get_geojson_stations')}}', function( data ) { 
            geojsonL = L.geoJson(data, {onEachFeature: onEachFeature}).addTo(map_stations); 
            map_stations.fitBounds(geojsonL.getBounds());    
        });
    });
    
    function onEachFeature (feature, layer) {
        if (feature.properties && feature.properties.popupContent) {
            popupContent = feature.properties.popupContent;
        }
 
        layer.bindPopup(popupContent);
    }
</script>
</div>

