<div class='pull-right'>
<!-- facebook stuff -->
<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ftraffic.integreen-life.bz.it%2F&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=recommend&amp;colorscheme=light&amp;font=arial&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:21px;" allowTransparency="true"></iframe>

<!--div id="fb-root"></div>
<div class="fb-like" data-href="http://www.integreen-life.bz.it/" data-send="false" data-layout="button_count" data-width="150" data-show-faces="true" data-action="recommend" data-font="arial"></div-->
<a href="https://twitter.com/share" class="twitter-share-button" data-text="{{=response.title + ': ' + response.subtitle}}" data-hashtags="web2py" data-via="integreenlife" data-url="http://traffic.integreen-life.bz.it">Tweet</a>

<div class="g-plusone pull-right" data-size="medium" data-href="http://traffic..integreen-life.bz.it"></div>


<script type="text/javascript">
/* fb js stuff */
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

/* twitter js stuff */
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}
}(document,"script","twitter-wjs");
/* google js stuff */
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

</div>
