#web2py_user_form {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
		-webkit-border-radius: 5px;
		   -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
	margin-top: 7%;
}

#web2py_user_form input[type="text"],
#web2py_user_form input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

#web2py_user_form img {
	margin-bottom: 10px;
}

#flow_chart .node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

#flow_chart .node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

#flow_chart .link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

#flow_chart .link:hover {
  stroke-opacity: .5;
}

#loading {
    z-index: 1000;
}

#sidebar_console .well .nav{
    max-height: 370px;
    overflow: auto;
}


/*.chart {
    height:370px;
    resize:both;
    overflow:auto;
}*/
