<form  id="" class="form-inline btn-group" action="{{=URL('console', 'get_data_types')}}">
	<div class="input-prepend input-append success">
		<span class="add-on success" for="inputWarning">Station</span>
		<select class="" name="station" id="select_frontend">
    		<option value=""></option>
		{{for station in stations: }}
			<option value="{{=station['id']}}">{{=station['name']}}</option>
		{{pass}}
		</select>
		<input type='hidden' name='frontend' value='{{=frontend}}'>
		<input id='frontend_frontend' type="submit" class="update btn btn-success" value="Add">
	</div>
</form>

